header{
    background-image: url('./imgenes/fondo_venta.jpg');
    background-repeat: round;
    justify-content: center;
}
h3{
    color: white;
}
.color_fondo{
    background-color: #5573df;
}
.alineacion{
text-align: center; 
    padding:25px
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: rgb(101, 189, 149);
}