{%extends "base.html" %}

{% block titulo %} Compra {% endblock %}

{% block contenido %}
<div class='row justify-content-center'>

    {% csrf_token %}
    <div class="form-group">
      <h2>Confirma tu Compra.</h2>
      <input type="text" id="lname" name="lname" placeholder="{{sell.product.nombre_producto}}" disabled
        style="display: block;">
      <img src="../media/{{sell.product.imagen}}" class="card-img-top" alt="Producto" style="width: 50rem">
      <div class="card-body">
        <h4>Precio unitario: ${{sell.product.precio }}</h4>
        <h4>Cantidad: {{ sell.quantity }} unidades.</h4>
        <h4>Total: ${{ sell.amount }}</h4>
      </div>
      <a class="btn btn-primary" href="{% url 'success_sell' %}">Comprar</a>
    </div>
</div>

{% endblock %}