{%extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %} 

<div class="row row-cols-1 row-cols-md-2 g-4">
  {% for article in object_list %}
  <div class="col">
    <div class="card">
      <img src="media/{{ article.imagen }}" class="card-img-top" alt="Producto">
      <div class="card-body">
        <h5 class="card-title">{{ article.nombre_producto }}</h5>
        <p class="card-text"> ${{ article.precio }}</p>
      </div>
      
    </div>
  </div>
    <!-- <li>{{ article.pub_date|date }} - {{ article.headline }}</li>      -->
{% empty %}
    <li>No articles yet.</li>
{% endfor %}
 
 
</div>

{% endblock %}