{%extends "base.html" %}

{% block titulo %} Compra {% endblock %}

{% block contenido %}
{% if messages %}
<div class=" 'messages">
  {% for message in messages %}
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>  
  {% endfor %}
</div>
{% endif %}
  <div class='row justify-content-center'>
    
        <form action="{% url "product_register" %}" method="post" class="form-text">
            {% csrf_token %}
            <div class="form-group">
                {{product_form.as_table}}
            </div>
            <input type="submit"  class="btn btn-danger m-4 p-3" value="Registrar">
        </form>
   
</div>

{% endblock %}