{%extends "base.html" %}

{% block titulo %} Compra {% endblock %}

{% block contenido %} 
  <div class='row justify-content-center'>
        <form action="{% url "sell" product.id %}" method="post" class="form-text">
            {% csrf_token %}
            <div class="form-group">
              <label for="product">Producto:</label>
              <input type="text" id="lname" name="lname" placeholder="{{product.nombre_producto}}" disabled style="display: block;">
               <img src="../media/{{product.imagen}}" class="card-img-top" alt="Producto" style="width: 50rem">
              <div class="card-body">
                <h4> ${{ product.precio }}</h4>
              </div>
              {{sell_form.as_table}}
              <div class="card-body">
                <h4> Total: ${{total }}</h4>
              </div>
            </div>
            <input type="submit"  class="btn btn-danger m-4 p-3" value="Enviar">
        </form>
   
</div>

{% endblock %}